parameters:
	ignoreErrors:
		-
			message: "#^Call to function in_array\\(\\) with arguments string, array\\(\\) and true will always evaluate to false\\.$#"
			count: 1
			path: src/Backend/PsrBackend.php

		-
			message: "#^Offset 'host' does not exist on array\\(\\?'scheme' \\=\\> string, \\?'host' \\=\\> string, \\?'port' \\=\\> int, \\?'user' \\=\\> string, \\?'pass' \\=\\> string, \\?'path' \\=\\> string, \\?'query' \\=\\> string, \\?'fragment' \\=\\> string\\)\\.$#"
			count: 1
			path: src/Backend/PsrBackend.php

		-
			message: "#^PHPDoc tag @throws with type Psr\\\\Cache\\\\InvalidArgumentException is not subtype of Throwable$#"
			count: 1
			path: src/Backend/PsrBackend.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:children\\(\\)\\.$#"
			count: 3
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and mixed will always evaluate to false\\.$#"
			count: 2
			path: src/DependencyInjection/NucleosShariffExtension.php

		-
			message: "#^Call to function assert\\(\\) with true will always evaluate to true\\.$#"
			count: 1
			path: src/Manager/StaticServiceManager.php

		-
			message: "#^Instanceof between Nucleos\\\\ShariffBundle\\\\Service\\\\Service and Nucleos\\\\ShariffBundle\\\\Service\\\\Service will always evaluate to true\\.$#"
			count: 1
			path: src/Manager/StaticServiceManager.php

