parameters:
    level: max

    paths:
        - src
        - tests

    autoload_files:
        - vendor-bin/test/vendor/autoload.php

    ignoreErrors:
        # Symfony DI
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'

        -
            message: "#^Call to function in_array\\(\\) with arguments string, array\\(\\) and true will always evaluate to false\\.$#"
            count: 1
            path: src/Backend/PsrBackend.php

        -
            message: "#^Offset 'host' does not exist on array\\(\\)\\|array\\('scheme' \\=\\> string, 'host' \\=\\> string, 'port' \\=\\> int, 'user' \\=\\> string, 'pass' \\=\\> string, 'path' \\=\\> string, 'query' \\=\\> string, 'fragment' \\=\\> string\\)\\.$#"
            count: 1
            path: src/Backend/PsrBackend.php

        -
            message: "#^Call to function method_exists\\(\\) with 'Symfony\\\\\\\\Component…' and 'getRootNode' will always evaluate to false\\.$#"
            count: 1
            path: src/DependencyInjection/Configuration.php

        -
            message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\TreeBuilder\\:\\:root\\(\\)\\.$#"
            count: 1
            path: src/DependencyInjection/Configuration.php
